// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2563eb !default;
$indigo:  #4f46e5 !default;
$purple:  #8b5cf6 !default;
$pink:    #ec4899 !default;
$red:     #ef4444 !default;
$orange:  #0ea5e9 !default;
$yellow:  #fbbf24 !default;
$green:   #10b981 !default;
$teal:    #14b8a6 !default;
$cyan:    #06b6d4 !default;

$primary:       $orange !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

$sidebar-base-width: 17rem;
